<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="{{ asset('/assets/css/main.min.css') }}">
</head>

<body>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <section class="index">
        <header class="item-header">
          <h1 class="item-title">{% block title %}Upcoming Events{% endblock %}</h1>
        </header>
        <div class="item-content">

<!-- content begin -->
{% block body %}{% endblock %}
<!-- content end -->

        </div>
      </section>
    </div>
  </main>
  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger" class="nav-button"><span class="nav-icon"></span></label>
  <label for="nav-trigger" class="overlay"></label>
  <div class="sidebar">
    <div class="wrapper">
      <header>
        <a href="/">
          <h2>My Yoga Timeline</h2>
          <p>User: Alex</p>
        </a>
      </header>
      <nav>
        <ul>
          <li><a href="/">Upcoming events</a></li>
          <li><a href="/yoga-styles">Yoga Styles</a></li>
        </ul>
        <h3>Contact</h3>
        <ul>
          <li><a href="mailto:ottmar.gobrecht@gmail.com">Email</a></li>
        </ul>
      </nav>
    </div>
  </div>
  {% block javascripts %}{% endblock %}
</body>

</html>
