{% extends 'base.html.twig' %}

{% block title %}Yoga Styles (<a href="/yoga-styles/new">new</a>){% endblock %}

{% block body %}

{% for style in yoga_styles %}
<h2><a href="/yoga-styles/{{ style.id }}/edit">{{ style.name }}</a></h2>
<p>{{ style.description }}</p>
{% endfor %}

{% endblock %}
